<div  class="popup leftFixedBtn"  >
    <a   >
        <span class="popuptext" id="myPopup">
            <section class='rounded'>
                <div class="">
              
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-12 col-xl-12">
              
                      <div class="card" id="chat2">
                        <div class="card-header d-flex justify-content-between align-items-center p-3">
                            <!-- <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Let's Chat
                                App</button> -->
                            <h5 class="mb-0">DALILI Souq Admin</h5>
                         
                        </div>
                        <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                           <div *ngFor=' let mess of messages' style="word-break: break-word;">
                          <!-- <div class="d-flex flex-row  " [ngClass]='!mess.sender_id?"justify-content-start":"justify-content-end"'>
                             <div class='contentmess '  [ngClass]='mess.sender_id?"text-right":"text-left"'>
                                <img  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 10%;">
                            
                              <p class="small p-2 ms-3 mb-1 rounded"  [ngClass]='!mess.sender_id?"mymess ":"adminmess"'   >{{mess.message}}</p>
                              <img *ngIf='mess.sender_id' src="https://dalilisouq.com/{{mess.sender.image}}"
                              alt="avatar 1" style="width: 45px; height: 100%;">
                             
                               <p class="small p-2 ms-3 mb-1 rounded" *ngIf='mess.image'><img src='https://dalilisouq.com/{{mess.image}}'></p>
                              
                              <p class="small ms-3 mb-3 rounded-3 text-muted " >23:58</p>
                            </div>
                          </div> -->
                          <div *ngIf='!mess.sender_id' class=" d-flex flex-row justify-content-start">
                            <img src="../../../../assets/images/admin.jpg"
                              alt="avatar 1" style="width: 25px;height: 25px; " class="rounded-circle">
                            <div>
                              <p class="small p-2 ms-3 mb-1 rounded-3 text-dark" >{{mess.message}}</p>
                              <p class="small p-2 ms-3 mb-1 rounded" *ngIf='mess.image'><img src='https://dalilisouq.com/{{mess.image}}'></p>
                              
                              <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
                            </div>
                          </div>

                          <div *ngIf='mess.sender_id' class=" d-flex  flex-row justify-content-end mb-4 pt-1">
                            <div >
                              <p class="small p-2 me-3 mb-1 text-white rounded bg-primary">{{mess.message}}</p>
                              <p class="small p-2 ms-3 mb-1 rounded" *ngIf='mess.image'><img src='https://dalilisouq.com/{{mess.image}}'></p>
                              
                              <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
                            </div>
                            <img src="https://dalilisouq.com/{{mess.sender.image}}"
                              alt="img" style="width: 11%;height: 25px" class="rounded-circle ">
                          </div>
                        </div>
                        
              
                        </div>
                        
                        <div class="card-footer text-muted d-flex align-items-center p-2 justify-content-between">
                           <textarea  *ngIf='!imageSrc' type="text" class="form-control form-control-lg" id="exampleFormControlInput1" name='mess' [(ngModel)]=mymess
                            placeholder="Type message"></textarea>
                            <div *ngIf='imageSrc' class=" rounded-circle">
                                <i class="fa fa-times ml-5" (click)='ignoreimg()'></i>
                            <img  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;"  >
                            </div>
                          <a class="ms-1 m-1 text-muted" *ngIf='!imageSrc'>
                              
                              <div class="image-upload" >
                                <label for="file-input">
                                    <i class="fas fa-paperclip fa-x "></i>
                                </label>
                            
                                <input id="file-input" type="file" accept="image/*" (change)="selectedFile($event)">
                            </div>
                            </a>
                          <a class="ms-3 m-1" *ngIf='mymess ||imageSrc' (click)='send()'><i class="fa fa-paper-plane fa-x border rounded-circle"></i></a>
                        </div>
                      </div>
              
                    </div>
                  </div>
              
                </div>
              </section>
        </span>

      <i class="fa fa-comments  " (click)="open()"></i>
    </a>
    
    
</div>
<div class="container">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<div class="container">
    <div class="gallery">
        <div class="row">
            <div class="col-md-6">
                <div class="buy-online">
                    <img src="../../../../assets/images/home/buy-online.jpg" />
                    <button>buy-online</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="categories">
                    <img src="../../../../assets/images/home/categories.jpg" />
                    <button>categories</button>

                </div>
                <div class="stores">
                    <img src="../../../../assets/images/home/stores.jpg" />
                    <button>stores</button>

                </div>
            </div>
            <div class="col-md-12">
                <div class="all-ads">
                    <img src="../../../../assets/images/home/ads.jpg" />
                    <button>all-ads</button>

                </div>
            </div>
        </div>
    </div>
</div>