<div class="card shadow border-0">
    <div class="card-header bg-white d-flex justify-content-between align-items-center remove-after">
        <h4 class='m-0'>advertising title</h4>
        <div class="dropdown">
            <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            </i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="edit-product"><i class="fas fa-pen-square"></i> edit product</a>
                <a class="dropdown-item"><i class="fas fa-newspaper"></i>repost product</a>
                <a class="dropdown-item"><i class="fas fa-trash-alt"></i> delete product</a>
                <a class="dropdown-item"><i class="fas fa-shopping-cart"></i> set out of stock</a>
                <a class="dropdown-item"><i class="fas fa-file"></i> report product</a>
            </div>
        </div>
    </div>
    <img src="../../../../assets/images/ads/ads.jpg" class="card-img-top" alt="...">
    <div class="card-body border-0">
        <div class='d-flex justify-content-between align-items-center mb-1'>
            <p class="mb-0">85 items left</p>
            <p class="mb-0"> <i class="fas fa-calendar mr-1"></i>november 17, 2021</p>
            <p class="mb-0"> <i class="fas fa-map-marker mr-1"></i>cairo - new cairo</p>
        </div>
        <div class='d-flex justify-content-between align-items-center mb-2'>
            <h2 class="m-0">600<small>EGP</small></h2>
            <i class="far fa-heart favourite-icon "></i>
        </div>
        <p class="mb-1">online for : 2 days</p>
        <p class="mb-1">expire in: 2 days</p>
    </div>
    <div class="card-footer border-0 p-0 bg-white">
        <div class="advertising-info-footer">
            <ul>
                <li> <a><i class="fa fa-eye"></i>68</a></li>
                <li> <a><i class="fa fa-phone"></i></a>6</li>
                <li> <a><i class="fa fa-comment"></i></a>13</li>
                <li> <a><i class="fas fa-comment-alt"></i>27</a></li>
                <li> <a><i class="fas fa-tag"></i>2</a></li>
            </ul>
        </div>
        <button class="btn btn-primary w-100">double the view</button>
    </div>
</div>
