<div class="header-bottom sticky-header">
    <div class="">
        <div class="header-menu container">
            <ul class="nav-categories ">
                <li><a routerLink="/home"><i class="fa fa-home"></i></a></li>
                <li><a routerLink="categories"><i class="fa fa-th"></i><span>categories</span></a></li>
                <li><a routerLink="buy-online"><i class="fa fa-shopping-cart"></i><span>buy online</span></a></li>
                <li><a routerLink="stores"><i class="fa fa-store"></i><span>stores</span></a></li>
                <li><a routerLink="all-ads"><i class="fa fa-ad"></i><span>all ads</span></a></li>
                <li><a routerLink="offers"><i class="fa fa-tag"></i><span>offers</span></a></li>
                <!-- <li><a href="category.html"><i class="porto-icon-category-fluids size-big1"></i><span>Fluids & Chemicals</span></a></li>
                <li><a href="category.html"><i class="porto-icon-category-steering"></i><span>Steering Wheels</span></a></li>
                <li><a href="category.html"><i class="porto-icon-category-mechanics"></i><span>Mechanics & performance</span></a></li>
                <li><a href="category.html"><i class="porto-icon-category-hot-deals"></i><span>Hot <br>Deals</span></a></li> -->
            </ul>
        </div>
    </div>
</div>