.nav-categories li {
    background: #8c1434;
    border: none;
    &:hover {
        background: #bf8494;
    }
    a {
        flex-direction: revert;
        align-items: center;
        white-space: nowrap;
        min-width: fit-content;
        height: auto;
        padding: 0;
        justify-content: center;
        padding: 2rem;
        text-transform: capitalize;
    }
    i {
        margin: 0;
        padding: 0;
        margin-right: 1rem;

    }   
    span {
        font-size: 1.5rem;
    } 
}

.header-menu-category {
    border-color: #8c1434;
    a {
        background: #8c1434;
    }
}

.header-menu {
    overflow-x: auto;
    background-color: #8c1434;
    width: 100%;
    border-radius: .5rem;
}
