.me-profile-layout {
    position: relative;
  //  margin-top: 80px;
}
.total{  background-color:  #8c1434 !important;
        color:white;
}
.profile-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;

    li {
        a {
            display: block;
            background-color: #fff;
            color: #8c1434;
            padding: 1rem;
            margin: 0.5rem 0;
            transition: 0.4s ease-in-out;
            border-radius: 1rem;
            &:hover, &.active {
                background-color: #8c1434;
                cursor: pointer;
                span,
                i {
                    color: #fff;
                }
            }
        }
        i { font-size: 10px !important;
            margin-right: 0.5rem;
            transition: 0.4s ease-in-out;
        }
        span {
            transition: 0.4s ease-in-out;
        }
        
    }
    
}

.me {
    margin-top: 1rem;
    width: 100%;
    background: #fff;
    padding: 1rem;
    position: relative;
    // &::before{
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    // //   background-image: url();
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   height: 300px;
    // }
    &-header {
      display: flex;
      text-align: center;
     // margin-top: 300px;
      &-img {
        width: 120px;
        height: 120px;
  
        img {
          width: 100%;
          border-radius: 1rem;
        }
      }
  
      &-info {
        padding: 0 1rem;
        width: 100%;
        &-header{
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
        }
        .counts-row {
          display: flex;
  
          .box {
            display: flex;
            flex-direction: column;
            text-align: center;
            border: 1px dashed #ddd;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
  
            .count {
              color: #222;
              font-size: 1.8rem;
            }
  
            .title {
              font-size: 1.4rem;
              color: #888;
            }
  
            &:not(:first-child) {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  
    &-tabs {
      text-align: center;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      width: 100%;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin: auto;
  
        li {
          font-size: 1.6rem;
  
          a {
            color: #222;
            text-decoration: none;
            position: relative;
            display: block;
            padding: 1rem 0;
            margin: 0 1rem;
            cursor: pointer;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
              height: 2px;
              background: #8c1434;
              transition: 0.4s ease-in-out;
            }
  
            &:hover {
              &::before {
                width: 100%;
              }
            }
            &.active {
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .colored{
    color: gold;
  }
  
  // .wallet {
  //   display: flex;
  //   div {
  //     padding: 1rem;
  //     border-radius: 0.5rem;
  //     border: 1px dashed #ddd;
  //     text-align: center;
  //     &:first-of-type{
  //       margin-right: 1rem;
  //     }
  //     li {
  //     border: 1px dashed #ddd;
  
  //     }
  //   }
  // }
  .nav-categories li {
    background: #8c1434;
    border: none;
    &:hover {
        background: #bf8494;
    }
    a {
        flex-direction: revert;
        align-items: center;
        white-space: nowrap;
        min-width: fit-content;
        height: auto;
        padding: 0;
        justify-content: center;
        padding: 2rem;
        text-transform: capitalize;
    }
    i {
        margin: 0;
        padding: 0;
        margin-right: 1rem;

    }   
    span {
        font-size: 1.5rem;
    } 
}

.header-menu-category {
    border-color: #8c1434;
    a {
        background: #8c1434;
    }
}

.header-menu {
    overflow-x: auto;
    background-color: #8c1434;
    width: 100%;
    border-radius: .5rem;
}
.profilephoto{
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  border-radius: 50%;
}
.cart-dropdown .dropdown-toggle .cart-count {
  background-color: #163e73;
}

.header-middle .contact-widget .contact-chat {
  color: #163e73;
}

.dropdown-cart-action .btn {
  background-color: #113859;
  border-color: #113859;
  &:hover {
      background-color: #163e73;
      border-color: #163e73;
  }
}

a {
  color: #113859;
}
