<div class="container me">
    <div class="me-header">
        <div class="me-header-img">
            <img src="../../../assets/images/stores/pexels-artem-beliaikin-929245.jpg" />
        </div>
        <div class="me-header-info">
            <div class="me-header-info-header">
                <div>
                    <h3 class='m-0'>mohamed ziad alhafez</h3>
                    <p class='my-2' style="color: gold">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <div class='d-flex'>
                    <div class="dropdown">
                        <i class="fa fa-share-alt" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                        </i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"><i class="fas fa-share-alt"></i> share my profile</a>
                            <a class="dropdown-item"><i class="fas fa-share-alt"></i>share application</a>
                            <a class="dropdown-item"><i class="fas fa-phone"></i> contact us</a>
                            <a class="dropdown-item"><i class="fa fa-info-circle"></i> about us</a>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-light"><i class="fa fa-cog"></i> setting</button>
                </div>

            </div>
            <div class="d-flex justify-content-between w-100">
                <div class="counts-row">
                    <div class="box">
                        <span class="count">101</span>
                        <span class="title">followers</span>
                    </div>
                    <div class="box">
                        <span class="count">87</span>
                        <span class="title">advertising</span>
                    </div>
                    <div class="box">
                        <span class="count">1580</span>
                        <span class="title">total views</span>
                    </div>
                </div>
                <!-- <div class='wallet'>
                    <div>
                        <h4>current balance</h4>
                        <p>4234 <small>points</small></p>
                        <button class="btn btn-sm btn-primary">buy balance</button>
                    </div>
                    <div>
                        <h4>reward points system</h4>
                        <ul class="list-group">
                            <li class="list-group-item">10 points <span>100 egp</span> </li>
                            <li class="list-group-item">200 points <span>1000 egp</span> </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="me-tabs">
        <ul>
            <li> <a routerLink="store-profile" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: false}">
                    <i class="fa fa-store"></i> store profile</a> </li>
            <li> <a routerLink="my-products" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: false}">
                    <i class="fa fa-shopping-cart"></i> my products</a> </li>
        </ul>
    </div>
</div>
<section class="container">
    <router-outlet></router-outlet>
</section>