<section class="orders">
    <div class="backBtn row border-bottom rounded" >
        <a href="#"><i class="fa fa-arrow-left"></i></a>
        <span class="col-md-8">order details(#{{order.id}})</span>
        <button class='btn btn-xm ml-5 col-md-2 py-2 rounded'>reorder</button>
    </div>
    <div class="store container mt-2 p-2 border-bottom rounded border-2">
        <div class="row p-5">
            <div class='col-md-8'><h3><i class="fa fa-store mr-2"></i>{{order.details[1].product.store.name}}</h3></div>
            <div class='col-md-4'><h3>{{order.created_at}}<i class="fa fa-clock ml-2"></i></h3></div>
        </div>
        <div class="row p-5">
            <div class='col-md-8'><h3><i class="fa fa-phone mr-2"></i>{{order.details[1].product.profile.mobile}}</h3></div>
            <button class='btn btn-xm ml-5 col-md-3 rounded'>view all products code</button>
   </div>
   <div class="row p-5 comment mx-3 text-center rounded">
     
    <input class='col-md-11 comment ' placeholder='Add comment'> 
    <i class="btn-xm  fa fa-paper-plane rounded-circle p-3 text-right"></i>

</div>

    </div>
    <div class="store container ">
        
<section class="orders">
   
    
    <div class='row' >
        <div class='col-md-12' >
           
              <div id="Waiting" class="tabcontent active " >
              <div class="order_item">
               
                   
            
                <div class="progress ">
                    <div class='row text-center '> 
                       
                    
                    <div class='col-md-12 '>
                    <ul class=" progressbar d-flex justify-content-evenly ml-5" >
                        <li class="
                         col-md-4 " [ngClass]="order.status==0||order.status==1||order.status==2?'active':''">Processing</li>
                        <li class=" col-md-4" [ngClass]="order.status==1||order.status==2?'active':''">shipped</li>
                        <li class='col-md-4' [ngClass]="order.status==2?'active':''">delivered</li>
                    </ul>
                    </div>
                </div>
                </div>
                <div class="content">
                    <div class="imgBx">
                        <img src="https://dalilisouq.com/{{order.details[1].image}}" alt="Watch Brand">
                    </div>
                    <div class="textBx ">
                        <h3 class="title">{{order.details[1].product.name}}</h3>
                        <p class="price" py-2 mx-5 >{{order.details[1].product.price}} EGP</p>
                       <div class="row">
                        <p [style.background-color]=" order.details[1].color_id" class="bg-light border py-3 mx-3 rounded-pill text-center text-dark col-md-2"> QTY :{{order.details[1].quantity}} </p>
                        <p class="price" py-2 mx-3 > {{order.details[1].size_id}} </p>
                       
                        <span  id='color-product'></span>
                        
                      </div>
                        <p>Rate this product:</p>
                        <p class="ratings">
                            <i class="fa fa-star " [ngClass]='1 ?"active":" "'></i>
                            <i class="fa fa-star "></i> 
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star"></i>
                        </p>
                    </div>
                </div>
                <div class=" row text-center" style="background-color: white;">
                    <a class="  col-md-2 text-center" ></a>
                    <a href="" id='abtn1' class=" col-md-2 py-3 border rounded text-center" style='background-color: #9b1919 !important;
                    color: #ffffff !important;' >view code</a>
                    <a class="  col-md-2 text-center" ></a>
                    <a href="" class="py-3 border rounded col-md-2" py-3 style='background-color: #9b1919 !important;
                    color: #ffffff !important;' >Report order</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
    <div class="store container border-top border-bottom p-2  rounded border-2">
        <div class="row m-3">
           
            <h3 class='col-md-3 mx-3'>sub total</h3>
            <h3 class=' mx-2 basiccolor'>{{order.details[1].price}} EGP</h3>
            <h4 class='col-md-2'></h4>
           
            <h3  class='col-md-3 mx-3'>delivery fees</h3>
            <h3 class=' mx-2 basiccolor'>{{order.details[1].delivery}} EGP</h3>
       
        </div>
        <div class="row m-3">
            <h3 class='col-md-3 mx-3'>Speed order fees</h3>
            <h3 class=' mx-2 basiccolor'>{{order.details[1].fast_delivery}} EGP</h3>
            <h2 class='col-md-3'></h2>
            <div style="background-color: #9b1919;color: white; " class="col-md-3 border ml-5 rounded text-center">
            <span  class='ml-2 h5  mx-2 mr-3' style="color:white">total:</span>
            <span class='h5  ml-5' style="color:white">{{order.details[1].delivery+order.details[1].price}} EGP</span>
            </div>

        </div>
       </div>
    </div>
    <div class="store container border-top border-bottom p-2 mt-3 mb-3 rounded border-2">
        <div class="row m-3">
            <h3 class='col-md-3 '>sub total</h3>
            <h3 class='col-md-3 basiccolor'>{{order.total}} EGP</h3>
            <!-- <h4 class='col-md-2'></h4> -->
           
            <h3  class='col-md-3 '>delivery fees</h3>
            <h3 class='col-md-3 basiccolor'>{{order.delivery_price}} EGP</h3>
       
          </div>
          <div class="row m-3">
            <h3 class='col-md-3 '>speed order fees</h3>
            <h3 class='col-md-3  basiccolor'>{{order.is_fast}} EGP</h3>
           
           
            <h3  class='col-md-3 '>Discount copoun</h3>
            <h3 class='col-md-3  basiccolor'>{{order.coupon_value}} EGP</h3>
       
          </div>
          <div class="row m-3">
            <h3 class='col-md-3'>Reward points</h3>
            <h3 class='col-md-3 basiccolor'>{{order.reward_points}} EGP</h3>
            <!-- <h4 class='col-md-2'></h4> -->
           
            <h3  class='col-md-3 '>Discount points</h3>
            <h3 class='col-md-3 basiccolor'>{{order.details[1].delivery}} EGP</h3>
       
          </div>
          <div class="row m-3">
            <h3 class='col-md-3 '>Services</h3>
            <h3 class='col-md-3  basiccolor'>{{order.service_percent}} EGP</h3>
            <!-- <h4 class='col-md-2'></h4> -->
           
            <h3  class='col-md-3 '>Tax</h3>
            <h3 class='col-md-3 basiccolor'>{{order.vat_amount}} EGP</h3>
       
          </div>
          <div class='row m-3 total border rounded'>
              
            <span  class=' h4 total p-4 col-md-6' style="color:white">Total price:</span>
            <span class='h4 total p-4 col-md-4 text-right' style="color:white">{{order.total +order.delivery_price +order.service_percent+order.vat_amount}} EGP</span>
       
          </div>
          </div>
    
</section>