<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h5>current balance</h5>
                <h2>7734 <small>points</small> </h2>
<button class="btn btn-primary"> BUY BALANCE</button>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>reward points system</h5>

                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>10 points</span>
                        <span>100EGP</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>100 points</span>
                        <span>1000EGP</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>