<h3>my sales</h3>
<div class="row">
    <div class="col-md-6" *ngFor="let sale of sales" >
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <p  class='m-0'>
                    <span class="badge " *ngIf='sale.status==0'>
                        <i  class="fa fa-circle text-warning" ></i>
                        pending
                    </span>
                    <span class="badge " *ngIf='sale.status==1'>
                        <i  class="fa fa-circle text-primary" ></i>
                        shipped
                    </span>
                    <span class="badge badge-warning" *ngIf='sale.status==2'>
                        delivered
                     </span>
                     <span class="badge badge-warning" *ngIf='sale.status==3'>
                        out of stock
                     </span>
                     <span class="badge badge-warning" *ngIf='sale.status==3'>
                        out of stock
                     </span>
                     <span class="badge badge-warning" *ngIf='sale.status==4'>
                        rejected
                     </span>
                </p>
                <p class='m-0'>
                    order ({{sale.id}}) 
                </p>
                <p class='m-0 d-flex flex-column'>
                    <span>{{sale.date}}</span>
                    <span>{{sale.time}}</span>
                </p>
            </div>
            <div class="card-body" (click)='details(sale.id)'>
                <i class="fa fa-store"></i><span class='mx-1'>{{sale.f_name}} {{sale.s_name}}</span>
                <p class='m-0'>
                    cash on delivery
                </p>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example " class="mb-3">
        <ul class="pagination">
          <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
        </ul>
      </nav>
</div>