.card-body{
    cursor: pointer;
}
.text-primary {
    color: #007bff!important;
}
.activepage{
    background-color: #a32020 ;
    color:white !important;
}
#load{
    position: absolute;
    margin-top: 400px;
    margin-left: 460px;
    z-index: 1;
}