<h3>rejected sales</h3>
<div class="row">
    <div class="col-md-6" *ngFor="let s of [1,1,1,1,1,1,1,1,1,1,1,1]" >
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <p  class='m-0'>
                    <span class="badge badge-warning">
                        pending
                    </span>
                </p>
                <p class='m-0'>
                    order (24)
                </p>
                <p class='m-0 d-flex flex-column'>
                    <span>18-02-2022</span>
                    <span>12:09 AM</span>
                </p>
            </div>
            <div class="card-body ">
                <div class='d-flex justify-content-between align-items-center'>
                    <div style="min-width: 80px;">
                        <img src="../../../../../../assets/images/profile/person.png" width="60px" height="60px" style="border-radius: 50%;width: 60px;height: 60px;" />
                        <h4 class='m-0 mt-2'>madmoud</h4>
                    </div>
                    <div>
                        <h4 class='m-0'>waell bitar</h4>
                        <p class='my-3 d-block'>cash on delivery</p>
                        <h3 class='m-0'>810 EGP</h3>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-sm btn-primary mt-4">view code</button>
                </div>
            </div>
        </div>
    </div>
</div>