<div class='bg1 w-100 border-bottom  border-secondary' style="height: 200px;padding-top: 10px;margin-bottom: 5px;margin-top: 2px;">
                
    <div class="image-upload text-center" [ngStyle]="{'background-image': 'url(' + imageSrc+ ')'}">
        <label for="file-input" class="text-center">
            
        </label>
            
    </div>
    

    </div>
    <div class='row d-flex justify-content-center m-3 ' style="font-size: 16px;color:  #0d284b;
    ;">Product added Successfully,we will review it and contact you soon.</div>
    <div class='row d-flex justify-content-between m-3'>
        <a class="rouned btn btn-primary" routerLink='/home/me/profile/my-profile/add_product/data'>Add new</a>
        <a class="rouned btn btn-primary" >product detailes</a>

    </div>