<div class='card text-center p-2'>
    <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
    <p>deliver code confirmation</p>
    <div *ngIf='order.products[index].code' id='p' class="card-header">{{order.products[index]?.code}}<i class="fa fa-copy" (click)='copyit()'></i></div>
    <div *ngIf='!order.code' id='p' class="card-header">Null<i class="fa fa-copy" (click)='copyit()'></i></div>
    
    <div class="d-flex justify-content-center">
    <img *ngIf='order.products[index].qr' src='https://dalilisouq.com/{{order.products[index]?.qr}}' width='130px' height="120px" class="d-flex justify-content-center">
    
    </div>
    </div>