.me-profile-layout {
    position: relative;
}
.profile-links {
    // display: flex;
    // justify-content: space-center;
    
    //flex-wrap: wrap;
    //flex-direction: column;
    position: -webkit-sticky;
    //position: sticky;
    top: 80px;
    li{
        display: inline;
        margin: 0 ;
    }

    li {
        a {text-align: center;
            display: block;
            background-color:#122e5c;
            color: #fff;
            padding: 1rem;
           // margin: 0.5rem 0;
            transition: 0.4s ease-in-out;
           // border-radius: 1rem;
            &:hover, &.active {
                background-color: #8c1434;
                cursor: pointer;
                span,
                i {
                    color: #fff;
                }
            }
        }
        i {
            
            margin-right: 0.5rem;
            transition: 0.4s ease-in-out;
        }
        span {
            transition: 0.4s ease-in-out;
        }
        
    }
}
