.card-header{
    background-color: white !important;
}
.total{
    background-color: #8c1434; 
            color:white;}
 .search{
     background-color: #113859;
     color: white;
    //  border-left:1px  solid #113859;
    //  border-radius: 40%;
 }    
 .border{
    border:#113859 
 } 
 ::placeholder{
     text-align: center;
     background-color:white;
     color: #113859;
     
 }  
 input{
    border: 1px solid #113859;
 }    