<div class="row">
    <div class="col-md-6" *ngFor="let address of addresses">
        <div class="card address-card">
            <div class="card-header bg-white remove-after d-flex justify-content-between align-items-center ">
                <h4 class=" mb-0"> {{address.name}}</h4>
                <div>
                    <button class="btn btn-sm btn-outline-primary  mr-2"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-outline-danger " (click)='delete(address.id)'><i class="fa fa-trash-alt"></i></button>
                </div>
            </div>
            <div class="card-body" style="min-height: auto;">
                <div>
                    <p class="card-text m-0">
                       {{address.address}}</p>
                </div>
            </div>
        </div>
    </div>
</div>