.active{color:gold}
#spec,#rev,#desc,#change,a,.color,.size{
    cursor: pointer;
}
.activetab{
   background-color: white !important;
}
.prop >li{
    list-style-type: circle;
    list-style-position: inside;
}
.me{
    transition: 0.3s;
}
.me:hover{
    transform: scale(1.02);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;


}
.activecolor{background-color: rgb(95, 33, 33);}
.activesize{background-color: rgb(95, 33, 33);}