<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header border-0 bg-white d-flex justify-content-between align-items-center">
                    <div>
                        <h4>Mobi For Sale</h4>
                        <p class='m-0'>november 4, 2021 <small>(city - alex)</small> </p>
                    </div>
                    <div class="dropdown">
                        <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                        </i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="edit-offer"><i class="fas fa-pen-square"></i> edit offer</a>
                            <a class="dropdown-item"><i class="fas fa-trash-alt"></i> delete offer</a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">
                    <p class="m-0">test offer</p>
                    <span class='badge bg-warning'>pending</span>
                </div>

                <img src="../../../../assets/images/stores/pexels-artem-beliaikin-929245.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fa fa-eye"></i>
                        <span class='ml-2'>35</span>
                    </div>
                    <div>
                        <i class="fas fa-thumbs-up"></i>
                        <span class='ml-2'>21</span>
                    </div>
                </div>
                <div class="card-footer offer-btns p-0 d-flex justify-content-between align-items-center">
                    <button class='btn-like'><i class="far fa-thumbs-up"></i>like</button>
                    <button class='btn-comment'><i class="fas fa-comment-alt"></i>comment</button>
                    <button class='btn-share'><i class="fas fa-share-alt"></i>share</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header border-0 bg-white d-flex justify-content-between align-items-center">
                    <div>
                        <h4>Mobi For Sale</h4>
                        <p class='m-0'>november 4, 2021 <small>(city - alex)</small> </p>
                    </div>
                    <div class="dropdown">
                        <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                        </i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="edit-offer"><i class="fas fa-pen-square"></i> edit offer</a>
                            <a class="dropdown-item"><i class="fas fa-trash-alt"></i> delete offer</a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">
                    <p class="m-0">test offer</p>
                    <span class='badge bg-warning'>pending</span>
                </div>

                <img src="../../../../assets/images/stores/pexels-pixabay-164763.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fa fa-eye"></i>
                        <span class='ml-2'>35</span>
                    </div>
                    <div>
                        <i class="fas fa-thumbs-up"></i>
                        <span class='ml-2'>21</span>
                    </div>
                </div>
                <div class="card-footer offer-btns p-0 d-flex justify-content-between align-items-center">
                    <button class='btn-like'><i class="far fa-thumbs-up"></i>like</button>
                    <button class='btn-comment'><i class="fas fa-comment-alt"></i>comment</button>
                    <button class='btn-share'><i class="fas fa-share-alt"></i>share</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header border-0 bg-white d-flex justify-content-between align-items-center">
                    <div>
                        <h4>Mobi For Sale</h4>
                        <p class='m-0'>november 4, 2021 <small>(city - alex)</small> </p>
                    </div>
                    <div class="dropdown">
                        <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                        </i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="edit-offer"><i class="fas fa-pen-square"></i> edit offer</a>
                            <a class="dropdown-item"><i class="fas fa-trash-alt"></i> delete offer</a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">
                    <p class="m-0">test offer</p>
                    <span class='badge bg-warning'>pending</span>
                </div>

                <img src="../../../../assets/images/stores/pexels-pixabay-264636.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fa fa-eye"></i>
                        <span class='ml-2'>35</span>
                    </div>
                    <div>
                        <i class="fas fa-thumbs-up"></i>
                        <span class='ml-2'>21</span>
                    </div>
                </div>
                <div class="card-footer offer-btns p-0 d-flex justify-content-between align-items-center">
                    <button class='btn-like'><i class="far fa-thumbs-up"></i>like</button>
                    <button class='btn-comment'><i class="fas fa-comment-alt"></i>comment</button>
                    <button class='btn-share'><i class="fas fa-share-alt"></i>share</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header border-0 bg-white d-flex justify-content-between align-items-center">
                    <div>
                        <h4>Mobi For Sale</h4>
                        <p class='m-0'>november 4, 2021 <small>(city - alex)</small> </p>
                    </div>
                    <div class="dropdown">
                        <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                        </i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="edit-offer"><i class="fas fa-pen-square"></i> edit offer</a>
                            <a class="dropdown-item"><i class="fas fa-trash-alt"></i> delete offer</a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">
                    <p class="m-0">test offer</p>
                    <span class='badge bg-warning'>pending</span>
                </div>

                <img src="../../../../assets/images/stores/pexels-caio-64613.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fa fa-eye"></i>
                        <span class='ml-2'>35</span>
                    </div>
                    <div>
                        <i class="fas fa-thumbs-up"></i>
                        <span class='ml-2'>21</span>
                    </div>
                </div>
                <div class="card-footer offer-btns p-0 d-flex justify-content-between align-items-center">
                    <button class='btn-like'><i class="far fa-thumbs-up"></i>like</button>
                    <button class='btn-comment'><i class="fas fa-comment-alt"></i>comment</button>
                    <button class='btn-share'><i class="fas fa-share-alt"></i>share</button>
                </div>
            </div>
        </div>
    </div>
</div>