.name{
    color: #113859;
    font-size: 18px;
}
.text-primary {
    color: #007bff!important;
}
.card-body{
    cursor: pointer;
}
.activepage{
    background-color: #a32020 ;
    color:white !important;
}
#load{
    position: absolute;
    margin-top: -400px;
    margin-left: 400px;
    z-index: 1;
}