// Tabs
.nav.nav-tabs {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #e7e7e7;

  .nav-item { 
    margin-top: 2rem;

    .nav-link {
      padding: 1.5rem 0;
      margin-right: 2rem;
      border: 0;
      border-bottom: 2px solid transparent;
      color: #818692;
      font: 700 1.4rem $font-family;
      letter-spacing: 0.005em;

      &:hover {
        color: $primary-color;
      }
    }

    &.show .nav-link,
    .nav-link.active {
      border-bottom-color: $primary-color;
      color: $primary-color-dark;
      background-color: transparent;
    }
  }
}
