.header-menu{
    overflow-x: auto;
    background-color: #163e73;
    width: 50%;
    border-radius: 0.5rem;
    
   
}

.button{
    background-color:  #55152d;
    color:white;
}
.input{
    background-color:#102951;
    color:white;
    font-size: 20px;
}
.round{
    border-radius: 7px;
    
    
}
#name{
    width: 37%;
    display: inline;

}
#a{
    text-decoration: underline; 
}
