<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4" *ngFor="let p of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]; index as i">
                    <div class="category-card mb-3">
                        <img src="../../../../assets/images/products/white/product-{{i + 1}}.jpg" alt="">
                        <h4 class="title">product {{i}} </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>